good_web/typings
.idea
node_modules
jspm_packages
npm-debug.*
link-checker-results.txt
good_web/app/*.js
good_web/app/*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp

# App artifacts
good_api2/_build
good_api2/db
good_api2/deps
good_api2/*.ez

# Generated on crash by the VM
erl_crash.dump

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs

test.html
