 <!-- chat.component.ts -->
 <h2>Chat</h2>
  <div>
      {{chat.job_seeker}}
  </div>
  <div class="chat-class">
     <ul>
    <li *ngFor="let message of chat.messages">
      <div><b> {{message.sender_name}}:</b></div>
      <div>{{message.content}}</div>
    </li>
    </ul>
  </div>
  
  <div>
     <form [formGroup]="send_message" (ngSubmit)="sendMessage($event)">
      <input formControlName="message" type="message" placeholder="new message">
      <button type="submit">send</button>
     </form>
  </div>