 <!-- chat.component.ts -->
 <div class="chathead" align=center>You're Now Chatting With {{chat.job_seeker}}!</div>

  <div #scrollMe class="chat-class">
     <ul class="chatlist">

    <li *ngFor="let message of chat.messages">

      <div *ngIf="message.sender==sender">
        <div class="message">{{message.sender_name}}:</div>
        <div class="messagecontent">{{message.content}}</div>
      </div>

      <div *ngIf="message.sender!=sender" class="right-chat">
        <div class="messageOther">{{message.sender_name}}:</div>
        <div class="messagecontentOther">{{message.content}}</div>
      </div>

      <br>
    </li>
    </ul>
  </div>

  <div class="chatbox">
     <form [formGroup]="send_message" (ngSubmit)="sendMessage($event)">
      <input class="message_in" formControlName="message" type="message" placeholder="New Message" required>
      <button class ="sendbutton" type="submit">Send</button>
     </form>
</div>
