 <!-- create_company.ts -->
<img src="app/template/images/background_bridge.jpg" id="cg" alt="">
<div class="create_your_profile">Add Your Company's Information</div>
<div class="userform">
  <form [formGroup]="loginForm" (ngSubmit)="newUser($event)" required>
    <input formControlName="name" type="name" placeholder="Company name" required>
    <input formControlName="logo" type="logo" placeholder="Company logo" required>
    <input formControlName="bio" type="bio" placeholder="Company bio" required>
    <input formControlName="link_to_website" type="link_to_website" placeholder="Link to Company Website" required>
    <input formControlName="list_of_locations" type="list_of_locations" placeholder="Comapny Location(s)" required>
    <br>
    <br>
  <div align="center"><button class="createbutton" type="submit">Create!</button></div>
</form>
</div>
<div align="center">
  <h4>{{company.name}} has been created!</h4>
</div>
