 <!-- create_user.component.ts -->
 <div class="userform">
 <form [formGroup]="loginForm" (ngSubmit)="newUser($event)">
    <input formControlName="email" type="email" placeholder="Your Email">
    <input formControlName="password" type="password" placeholder="Your Password">
    <input formControlName="name" type="name" placeholder="Your Name">
    <input class ="bigger" formControlName="bio" type="bio" placeholder="A Short Description of Yourself">
    <input formControlName="role" type="role" placeholder="Your Position">

</form>
</div>
<div align = center><button type="submit">Create!</button></div>

<div align=center>
  <h4>{{user.name}} has been create!</h4>
</div>
