<!-- create_job.component.ts -->
<div class="jobform">
<form [formGroup]="loginForm" (ngSubmit)="newJob($event)">
    <input formControlName="name" type="name" placeholder="Job Name">
    <input class="bigger" formControlName="description" type="description" placeholder="Job Description">
    <input formControlName="salary_range" type="salary_range" placeholder="Salary Range">
    <input formControlName="employment_type" type="employment_type" placeholder="Employment Type(Full-time, Part-time, etc.)">
    <input formControlName="location" type="employment_type" placeholder="Job Location (City, State)">
    <input formControlName="tags" type="tags" placeholder="Job Tags (For Users to Search)">
  </form>
</div>
  <div align="center"><button type="submit">Add Job!</button></div>
  <div>{{this.job.name}}</div>
