<!-- create_job.component.ts -->

  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <a style="background-color: #999999;
          border-color: #999999;
          border-radius: 5px;
          border-style: solid;
          border-width: 3px;
          opacity:0.82"
         data-toggle="collapse" href="#collapse1">New Job</a>
      </div>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="jobform">
          <form [formGroup]="loginForm" (ngSubmit)="newJob($event)">
          <input formControlName="name" type="name" placeholder="Job Name" required>
          <input class="bigger" formControlName="description" type="description" placeholder="Job Description" required>
          <input formControlName="salary_range" type="salary_range" placeholder="Salary Range" required>


              <select class="drop-down-bar" id="test" (change)="seeVal()">
                <option *ngFor="let c of choices">{{c}}</option>
              </select>

          <input formControlName="location" type="employment_type" placeholder="Job Location (City, State)" required>
          <input formControlName="tags" type="tags" placeholder="Job Tags (For Users to Search, Separate by ,)" required>
          <button class="createjob1" type="submit">Create Job!</button>
          </form>
          </div>
          </li>
          <li class="list-group-item"><div>{{this.job.name}}</div></li>
       </ul>
     </div>
  </div>
