<!-- create_job.component.ts -->
<form [formGroup]="loginForm" (ngSubmit)="newJob($event)">
    <input formControlName="name" type="name" placeholder="new job name">
    <input formControlName="description" type="description" placeholder="job description">
    <input formControlName="salary_range" type="salary_range" placeholder="job salary range">
    <input formControlName="employment_type" type="employment_type" placeholder="employment_type(full-time, part-time ...)">
    <input formControlName="location" type="employment_type" placeholder="location(location)">
    <input formControlName="tags" type="tags" placeholder="location(job tags)">
  <button type="submit">create!</button>
  <div>{{this.job.name}}</div>
</form>