 <!-- job_panel.component.ts -->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <a style="background-color: #cccccc;
          border-color: #cccccc;
          border-radius: 5px;
          border-style: solid;
          border-width: 3px;
          color: black;
          opacity: 0.82;" data-toggle="collapse" href="#new_hr">New Hr Managers</a>
      </div>
    </div>

  <div id="new_hr" class="panel-collapse collapse">
    <ul class="list-group">
      <li class="list-group-item">
            <ul class="list-group">
              <div class="chats">New Hr Managers</div>
                <li class="list-group-item" *ngFor="let user of hr_list">
                  <div class="user-in-panel">
                  <button class="createbutton"(click)="profileClick(user)">
                  {{user}}
                  </button>
                  <button (click)="approve(user)" id= "user" class="approve-button">Approve</button>
                  <button (click)="reject(user)" class="reject-button">Reject</button>
                  </div>
               </li>
            </ul>
        </li>


       </ul>
    </div>

</div>
