 <!-- job_panel.component.ts -->
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <a style="background-color:#404040;
          border-color: #404040;
          border-radius: 5px;
          border-style: solid;
          border-width: 3px;
          opacity: 0.82;" data-toggle="collapse" href={{strIdH}}>{{job.name}}</a>
      </div>
    </div>

    <div id="{{strId}}" class="panel-collapse collapse">
      <ul class="list-group">
      <li class="list-group-item"><button class ="editbutton"(click)="edit_job()">Edit</button></li>
      <li class="list-group-item">
        <ul class="list-group">
          <div class="chats">Chats</div>
          <li class="list-group-item" *ngFor="let user of job.active_chats">
          <div class="user-in-panel">

          <button class="createbutton"(click)= "chatClick(user, job.company, job.name)">
          {{user}}
          </button>

          </div>
        </li>
        </ul>
      </li>

      <li class="list-group-item">
            <ul class="list-group">
              <div class="chats">Likes</div>
                <li class="list-group-item" *ngFor="let user of job.likes">
                <div class="user-in-panel">
                <button class="createbutton"(click)="profileClick(user)">
                {{user}}
                </button>
                <button (click)="approve(user)" id= "user" class="approve-button">Approve</button>
                <button (click)="reject(user)" class="reject-button">Reject</button>
                </div>
              </li>
            </ul>
        </li>


         <li *ngIf="edit==false" class="list-group-item">
          <ul class="list-group">
            <div class="chats">Details</div>
            <li class="list-group-item">Posted: {{job.post_date}}</li>
            <li class="list-group-item">Description: {{job.description}}</li>
            <li class="list-group-item">Location: {{job.location}}</li>
            <li class="list-group-item">Salary: {{job.salary_range}}</li>
            <li class="list-group-item">Employment Type: {{job.employment_type}}</li>
            <li class="list-group-item">Tags: {{tag_display}}</li>
          </ul>
        </li>

         <li *ngIf="edit==true" class="list-group-item">
          <div class="jobform">
          <form [formGroup]="editJobForm" (ngSubmit)="editJobEvent($event)">
          <input [(ngModel)]="job.description" class="bigger" formControlName="description" type="description" placeholder="Job Description" required>
          <input [(ngModel)]="job.salary_range" formControlName="salary_range" type="salary_range" placeholder="Salary Range" required>


              <select class="drop-down-bar" id="editJobDropdown" (change)="seeVal()">
                <option *ngFor="let c of choices">{{c}}</option>
              </select>

          <input [(ngModel)]="job.location" formControlName="location" type="employment_type" placeholder="Job Location (City, State)" required>
          <input [(ngModel)]="tag_display" formControlName="tags" type="tags" placeholder="Job Tags (For Users to Search, Separate by ,)" required>
          <button class="jobbutton1" type="edit">Commit Changes</button>
          </form>
          </div>
          <button class="reject-button" (click)="deleteJob()">Delete</button>
          </li>

       </ul>
     </div>
  </div>
