 <!-- job_panel.component.ts -->  
    <h3>Job Details</h3>
    <div>name: {{job.name}}</div>
    <div>description: {{job.description}}</div>
    <div>post date: {{job.post_date}}</div>
    <div>location: {{job.location}}</div>
    <div>salary: {{job.salary_range}}</div>
    <div>employment type: {{job.employment_type}}</div>
    
    <div>
    chats
    <ul>
    <li *ngFor="let user of job.active_chats">
      <a href= "#" [routerLink]="['/app/job/chat', user, job.company, job.name]">
      {{user}}
      </a>
    </li>
    </ul>
    </div>
    
    <div>
    likes
    <ul>
    <li *ngFor="let user of job.likes">
      <div>
         <a href= "#" [routerLink]="['/app/job_seeker', user]">
          {{user}}
       </a>
        <button (click)="approve(user)" id= "user" class="button">approve</button> 
        <button (click)="reject(user)" class="button">reject</button>
      </div>           
    </li>
    </ul>
    </div>