<!-- main-page.component.ts -->

<img src="app/template/images/background_nyc.jpg" id="dg" alt="">
<div class="topbar"><live-notifications></live-notifications></div>

<div class="welcomeheader" [style.font-size]="font_size">Welcome {{user.name}}!</div>

<div *ngIf="show_page==false"><h1 align=center>Please wait to be approved!</h1></div>

<div *ngIf="show_page==true">
<div class="companyhead">Company: {{company.name}}</div>
<br>

<div style="float:left; width:50%;">
  <div *ngIf="new_hr_managers">
    <div class="addjob">Add Hr Manager:</div>
    <ul><li class="joblist">
    <hr-panel [user]=user [hr_list]=hr_approve_list></hr-panel>
    </li></ul>
  </div>

  <div class="addjob">Add Job:</div>
  <ul><li class="joblist">
  <create-job></create-job>
  </li></ul>

    <div class="addjob">Jobs:</div>
    <div>
    <ul>
      <li class="joblist" *ngFor="let job of company.jobs">
        <job-panel [name]=job [company]="company_name"></job-panel>
      </li>
    </ul>
    </div>
</div>

<div class = "display-panel">
  <div *ngIf="chat_click">
    <chat-window [chat_data]="current_chat"></chat-window>
  </div>

  <div *ngIf="profile_click">
    <job-seeker-profile [email]="current_profile"></job-seeker-profile>
  </div>
</div>
</div>
