<!DOCTYPE html>
<html>
<head>
	<div align = "center"><title> GoodJob </title></div>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="styleLogin.css">
</head>

<center>
	<div class="header">
		<h1>
		<font color = "Green">GoodJob</font></h1>
	</div>
<div class="login">
    <center><input type="text" placeholder="Username" id="username">  </center>

</div>
  <center><input type="password" placeholder="Password" id="password"> </center>
  <div style="line-height:75%;">
  <br>
</div>
</div>
<div style ="line-height:75%;">
<br>
<center><a href="#" class="btn btn-primary btn active" role="button">Submit</a></center>
<div style="line-height:75%;">
    <br>
</div>
<center><a href="#" class="btn btn-default btn active" role="button">Create</a></center>
</html>
