/* Master Styles */
body{
  background-color: #b1dfed;
}
h1 {
  color: #000000;
  font-family: 'Quicksand', sans-serif;
  font-size: 80px;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #595959;
  font-family: 'Days One', sans-serif;
}
a {
  cursor: pointer;
  cursor: hand;
}
.loginbutton{
  font-family: 'Boogaloo', cursive;
  background-color: #cccccc;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
}
.createbutton {
  font-family: 'Boogaloo', cursive;
  background-color: #ccebff;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
}
.error{
  font-family: 'Boogaloo', cursive;
  font-size: 21px;

}
.company h4{
  font-family: 'Boogaloo', cursive;
  font-size: 24px;
}
.company h3{
  font-family: 'Boogaloo', cursive;
  font-size: 24px;
}
.addjob h3{
  font-family: 'Boogaloo', cursive;
  font-size: 24px;
}
.jobs h2{
  font-family: 'Boogaloo', cursive;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

input {
 background-color:#FFF;
 min-height:30px;
 min-width: 200px;
 font-size: 20px;
 font-family: 'Boogaloo', cursive;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.userform input {
  align: center;
        width: 40%;
        display: inline-block;
        background-color:
        clear: both;
       margin-left: 30%;
      margin-right:30%;
      border-width: 0.05px;
    }
    .jobform input {

            width: 40%;
            display: inline-block;
            background-color:
            clear: both;
           margin-left: 5%;
          margin-right:55%;
          border-width: 0.05px;
        }
.jobbutton{
  margin-left: 21%;
 margin-right:55%;
 font-family: 'Boogaloo', cursive;
 background-color: #cccccc;
 border: none;
 padding: 5px 10px;
 border-radius: 7px;
 font-size: 20px;
 cursor: pointer;
 cursor: hand;

}
.bigger{
  height: 200px;
  text-align: left;
  padding:  0.0em;
  padding-bottom:170px;
  width: 20px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
/* The navigation bar */
body{margin:0;}
.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #a6a6a6;
    height: 65px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
.logonav{
  text-align: center;
  width:68%;
  padding-top: 10px;
}
.logout{
  background-color: #ccebff;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
  cursor: hand;
  font-family: 'Quicksand', sans-serif;
  margin-left: 1350%;

}
}
/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
