/* Master Styles */
body{
  background-color: #b1dfed !important;
}
h1 {
  color: #000000;
  font-family: 'Quicksand', sans-serif !important;
  font-size: 80px;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: lighter;
}
body {
  margin: 2em !important;
}

a {
  cursor: pointer;
  cursor: hand;
}

.loginbutton{
  font-family: 'Quicksand', sans-serif !important;
  background-color: #cccccc;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 17px;
  cursor: pointer;
  cursor: hand;
}
.createbutton {
  font-family: 'Quicksand', sans-serif  !important;
  background-color: #ccebff;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 17px;
  cursor: pointer;
  cursor: hand;
}
.message_in{
  border-radius: 5px;
}
.caret{
  cursor: hand;
  cursor: pointer;
}
.gear{
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  cursor: hand;
}
.logoutbutton{
  font-family: 'Quicksand', sans-serif  !important;
  background-color:  #e6e6e6;
  border-color: black;
  border: none;
  padding: 1px 6px;
  border-radius: 0;
  font-size: 13.5px;
  cursor: pointer;
  cursor: hand;
  margin-left: 2px;
  margin-bottom: 0;
}
.logoutbutton:hover{
  background-color: #e6e6e6;
}
.reject-button {
  font-family: 'Quicksand', sans-serif  !important;
  background-color: #d15025;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
}
.approve-button {
  font-family: 'Quicksand', sans-serif  !important;
  background-color: #59c10f;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
}
.error{
  font-family: 'Quicksand', sans-serif;;
  font-size: 21px;

}
.company h4{
  font-family: 'Quicksand', sans-serif;;
  font-size: 24px;
}
.company h3{
  font-family: 'Quicksand', sans-serif;;
  font-size: 24px;
}
.enter{
  font-family: 'Quicksand', sans-serif;;
  font-size: 20px;
  text-align: center;
}
.resume_uploader{
  font-family: 'Quicksand', sans-serif;;
  font-size: 24px;
  text-align: center;
}
.upload_resume{
  font-family: 'Quicksand', sans-serif;;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.stats{
  text-align: center;
    font-family: 'Quicksand', sans-serif;;
    font-size: 40px;
    font-weight: bold;
}
.headertype{
  text-align: center;
    font-family: 'Quicksand', sans-serif;;
    font-weight: bold;
    font-size: 30px;
}
.tdtab{
  text-align: left;
    font-family: 'Quicksand', sans-serif;;
    font-size: 25px;
}
.tdtab1{
  text-align: center;
    font-family: 'Quicksand', sans-serif;;
    font-size: 25px;
}
.addjob{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  margin-left: 40px;
  font-weight: bold;
  opacity: 0.8;
}
.jobs h2{
  font-family: 'Boogaloo', cursive;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

input {
 background-color:#FFF !important;
 min-height:30px !important;
 min-width: 200px !important;
 font-size: 20px !important;
 font-family: 'Quicksand', sans-serif !important;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
  font-family: 'Quicksand', sans-serif;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
  font-family: 'Quicksand', sans-serif;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.userform input {
     width: 40%;
     display: inline-block;
     background-color: clear;
     margin-left: 30%;
     margin-right:30%;
     border-width: 0.05px;
     opacity: 0.8;
     font-family:  'Quicksand', sans-serif;
    }
    .mainlogin input{
      display: inline-block;
      background-color: clear;
      margin-left: 30%;
      margin-right:30%;
      border-width: 0.05px;
      opacity: 0.8;
      font-family:  'Quicksand', sans-serif;
    }
    .jobform input {

            width: 40%;
            display: inline-block;
            background-color: clear;
           margin-left: 5%;
          margin-right:55%;
          border-width: 0.05px;
        }
.jobbutton1{
  margin-top: 5%;
  margin-left: 32%;
  font-family: 'Quicksand', sans-serif;
  background-color: #00cc00;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
}
.createjob1{
  margin-top: 5%;
  margin-left: 38%;
  font-family: 'Quicksand', sans-serif;
  background-color: #ccebff;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
}
.editbutton{
  margin-left: 93%;
  font-family: 'Quicksand', sans-serif;
  background-color: #e6e6e6;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
}
.nobutton{
  font-family: 'Quicksand', sans-serif  !important;
  background-color: #ccebff;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
  text-align: center;
  margin-left: 1%;
}
.yesbutton{
  font-family: 'Quicksand', sans-serif  !important;
  background-color: #ccebff;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
  margin-left: 45%;
}
.drop-down-bar{
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  background-color:#FFF !important;
}

.bigger{
  height: 200px;
  text-align: left;
  padding:  0.0em;
  padding-bottom:170px;
  width: 20px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
.EnterCompany{
  text-align: center;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
}
.companyname{
  margin-left: 40.2%;
}
.find{
  margin-left: 0%;
  font-family: 'Quicksand', sans-serif;
  background-color: #e6e6e6;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
}
.confirmbutton{
  margin-left: 0%;
  font-family: 'Quicksand', sans-serif;
  background-color: #00cc00;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
}
.findmessage{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}
.topbar{
  margin-left: 85%;
  padding-bottom: 1em;
  padding-right: 0%;
}

.noti{
  font-family: 'Quicksand', sans-serif;
  cursor: hand;
  text-align: center;
}
.btn-group{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
  margin-left: 30%;
  padding-bottom: 0px;
}
.dropdown-menu{
  opacity: 0.75;
  padding-bottom: 0px;
}
.logoup{
  margin-left: 35%;
}
.Glogo{
  cursor: hand;
  padding-left: 0px;
}
.notnum{
    font-family: 'Quicksand', sans-serif;
    cursor: hand;
}
.logset{
  background-color:  #b3b3b3;
  top: 0;
  bottom: 0;

}
.panel-group
.logonav{
  text-align: center;

}
.logo{

  padding: 0px;
}
.logout{
  background-color: #ccebff;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
  cursor: hand;
  font-family: 'Quicksand', sans-serif;
  margin-left: 130%;
}

/* Panel stuff */
.panel-heading {
    text-align: left;
    padding-top;
    margin-bottom: 1%;
}
.panel-title{
  font-family:  'Quicksand', sans-serif;
}


.list-group-item{
  background-color: #f2f2f2 !important;
  border: none !important;
}

div.user-in-panel a{
  color: black !important;
}

.panel-group{
  background-color:clear;
  width: 85%;
  padding-left: 1px;
  margin-bottom: 2%;
}
.question{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 30px;
}
.panel-group a{
    display: inline-block;
    width:100%;
    color:white !important;
      font-family: 'Quicksand', sans-serif;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}

li.joblist{
  list-style-type:none;
  font-family: 'Quicksand', sans-serif;
}
/* Panel stuff end*/

.display-panel{
  background-color: #f2f2f2;
  border-radius: 5px;
  left:50%;
  width: 45%;
  height: 60%;
  margin-top: 2%;
  position: fixed;
  opacity: 0.8;
}
.chat-class{
  overflow-y: scroll;
  width: 100%;
  height: 42%;
}
/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* to make scroll bar always on */
html {height: 101%;}

.welcomeheader{

  text-align: center;
  font-size: 45px;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-style: oblique;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.companyhead{
  text-align: center;
  font-family:  'Quicksand', sans-serif;
  font-size: 30px;
  width: 100%;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.chathead{
  font-family:  'Quicksand', sans-serif;
  font-size: 20px;
  font-style: italic;
}
.jobheader{
  font-size: 30px;
    font-family:  'Quicksand', sans-serif;
    font-weight: bold;
    margin-left: 16%;
}
.settings{
    font-size: 40px;
    font-family:  'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
}
.chats{
  font-family:  'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.picbr{
  height: -1500%;
}
.addpicture{
  font-size: 25px;
  font-family:  'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;
}
.addjobhead{
  font-size: 30px;
    font-family:  'Quicksand', sans-serif;
    margin-left: 13%;
}
.jobform input{ /*form inside of add job*/
  width: 90%;
  display: inline-block;
  background-color: clear;
  margin-left: 5%;
  margin-right:55%;
  border-width: 0.05px;
  font-family:  'Quicksand', sans-serif;
}
.message{
    font-family:  'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.messagecontent{
  font-family:  'Quicksand', sans-serif;
  font-size: 14px;
  margin-right: 52%;
  text-align: justify;
  background-color: #99ebff;
  border-radius: 7px;
  display: inline-flex;
  padding-left: 5px;
  padding-right: 5px;

}
.sendbutton{
  font-family: 'Quicksand', sans-serif  !important;
  background-color: #99ebff;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
  cursor: hand;
}
.messageOther{
    font-family:  'Quicksand', sans-serif;
    font-size: 14px;
    margin-left: 50%;
    margin-right: 5%;
    font-weight: bold;
  }
.messagecontentOther{
  font-family:  'Quicksand', sans-serif;
  font-size: 14px;
  margin-left: 50%;
  margin-right: 6%;
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #b3ffb3;
  border-radius: 7px;
  display: inline-flex;
}
.chatlist{
  list-style-type: none;
}
.right-chat{
  width: 100%;
  align-content: right;
}
.panel-title{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 25px;
}
.chatbox{
  margin-left: 6%;

}
.chatbox input{
font-family: 'Quicksand', sans-serif;
font-size: 10px;

}
.jobbutton{
  margin-left: 39%;
}
.create_your_profile{
  font-size: 33px;
    font-family:  'Quicksand', sans-serif;
    text-align: center;
}
.list-group-item{
  font-family:  'Quicksand', sans-serif;
}
.panelhead{
  font-family:  'Quicksand', sans-serif;
  text-align: center;
}
#dg {
  position: fixed;
  top: 0;
  left: 0;
  opacity:0.25;
  z-index: -1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
#cg {
  position: fixed;
  top: 0;
  left: 0;
  opacity:0.25;
  z-index: -1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  opacity:0.25;
  z-index: -1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
#fg{
  position: fixed;
  top: 0;
  left: 0;
  opacity:0.25;
  z-index: -1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  /* Preserve aspet ratio */
}

.dropdown-toggle{
  background: transparent;
}
